<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConStringCareGiverLite" connectionString="Data Source=DIFFERENZ040;Initial Catalog=CareGiver;User ID=sa;Password=welcome" providerName="System.Data.SqlClient" />-->
    <!--<add name="constringcaregiver" connectionstring="data source=differenz024\sqlexpress;initial catalog=caregiver;user id=sa;password=welcome;integrated security=false;" providername="system.data.sqlclient" />-->
    <!--<add name="ConStringCareGiverLite" connectionString="Data Source=caregiver.cwbk1q3wsvsy.us-west-2.rds.amazonaws.com;Initial Catalog=CareGiver;User ID=caregiver_user;Password=CaR3g!V3r20i5" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConStringCareGiverLite" connectionString="Data Source=DIFFERENZ017\SQLEXPRESS;Initial Catalog=CareGiver;integrated security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConStringCareGiverLite" connectionString="Data Source=WINCTRL-CAVF730;Initial Catalog=CareGiver;User ID=sa;Password=welcome" providerName="System.Data.SqlClient" />-->
    <!-- Added by vinod verma 
   <add name="ConStringCareGiverLite" connectionString="Data Source=WINCTRL-S38GLFF\SQLEXPRESS;Initial Catalog=CareGiver;User ID=sa;Password=welcome" providerName="System.Data.SqlClient" />
    -->

    <add name="ConStringCareGiverLite" connectionString="Data Source=LAPTOP-JTSC0UIS;Initial Catalog=CaregiverLite;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--<add key="CareGiverDocumentsPath" value="http://ec2-52-26-141-201.us-west-2.compute.amazonaws.com/CareGiverSuperAdmin/CareGiverDocuments/"/>
    <add key="CareGiverProfileImagesPath" value="http://ec2-52-26-141-201.us-west-2.compute.amazonaws.com/CareGiverSuperAdmin/CareGiverProfileImages/"/>
    <add key="ProfileImageUploadPath" value="E:\\bhavini\\Shared\\CareGiverSuperAdmin\\CareGiverSuperAdmin\\CareGiverProfileImages\\"/>
    <add key="DocumentUploadPath" value="E:\\bhavini\\Shared\\CareGiverSuperAdmin\\CareGiverSuperAdmin\\\CareGiverDocuments\\"/>-->

    <add key="CareGiverDocumentsPath" value="http://192.168.1.54/CareGiverSuperAdmin/CareGiverDocuments/" />
    <add key="CareGiverProfileImagesPath" value="http://192.168.1.54/CareGiverSuperAdmin/CareGiverProfileImages/" />
    <add key="ProfileImageUploadPath" value="E:\\Sneha\CareGiver\Code\\CareGiverSuperAdmin\\CareGiverSuperAdmin\\CareGiverProfileImages\\" />
    <add key="DocumentUploadPath" value="E:\\Sneha\\CareGiver\\Code\\CareGiverSuperAdmin\\CareGiverSuperAdmin\\CareGiverDocuments\\" />
    
    <add key="SignatureUploadPath" value="E:\\Subversion\\CareGiver\\CareGiverSuperAdmin\\CareGiverSuperAdmin\\Signatures" />
    <add key="SENDER_EMAIL_ID" value="differenzcaregiver@gmail.com" />
    <add key="MAIL_PASSWORD" value="Welcome@!" />
    <add key="SMTPUserName" value="differenzcaregiver@gmail.com" />
    <add key="SMTPPassword" value="Welcome@!" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="BCCEMAILADDRESS" value="differenzcaregiver@gmail.com" />
    <add key="ATTACH_FILE_PATH" value="" />
    <add key="EnableSsl" value="true" />


    <add key="BrowserAPIKey" value="AIzaSyCYyarbLy7d5Gk_UeUPaDkvrEoQK5F-Y1E" />
    <!-- iOS Push Notification-->
    <add key="StripeSecreteKey" value="sk_test_3mbLy4rQns0uIjiVd3iZwQ0o" />
    <add key="StripePublishableKey" value="pk_test_RWWjjHKGGT3dX4tRQitYxbcG" />
    <add key="MorningShiftStartTime" value="07:00AM" />
    <add key="MorningShiftEndTime" value="07:00PM" />
    <add key="NightShiftStartTime" value="07:00PM" />
    <add key="NightShiftEndTime" value="07:00AM" />
    <add key="HolidayColor" value="#FF0000" />
    <add key="WeekendColor" value="#FFC107" />
    <add key="WeekColor" value="#03A9F4" />
    <add key="MorningShiftColor" value="#3F51B5" />
    <add key="NightShiftColor" value="#4CAF50" />
    <add key="StripePercentage" value="2.9" />
    <add key="ValidDay" value="7"/>
   
    <!-- iOS Push Notification-->
    <!-- Live-->
    <!--<add key="CertFileName" value="./Iphone Certificate/CareGiverProduction.p12"  />
    <add key="PatientCertFileName" value="./Iphone Certificate/PatientProduction.p12"  />
    <add key="HostName" value="gateway.push.apple.com" ></add>
    <add key="IsAPNSandBox" value="false"/>
    <add key="PortNo" value="2195" ></add>
    <add key="CertPassword" value="welcome"/>
    <add key="PatientCertPassword" value="welcome"/>-->



    <!--<add key="CertFileName" value="../Iphone Certificate/ckProduction.p12" />-->
    <!--<add key="CertFileName" value="./Iphone Certificate/CareGiverDevelopment.p12"  />-->
    <!--<add key="CertFileName" value="./Iphone Certificate/CareGiver.p12"  />-->
    <add key="CertFileName" value="./Iphone Certificate/CareGiverLatest.p12"  />
    
    <!--<add key="CertPassword" value="fabio"/>-->
    <add key="CertPassword" value="welcome" />
    

    <!--<add key="CertFileName" value="./Iphone Certificate/ckProduction.p12"  />-->
    <!--<add key="CertFileName" value="./Iphone Certificate/CareGiverProduction.p12"  />-->
    
    <!--<add key="PatientCertFileName" value="./Iphone Certificate/PatientDevelopment.p12" />-->
    <!--<add key="PatientCertFileName" value="./Iphone Certificate/PatientDevelopmentnew.p12" />-->
    <add key="PatientCertFileName" value="./Iphone Certificate/CareGiverEndUserPatientLatest.p12" />
    <!--<add key="CertPassword" value="fabio"/>-->
    <add key="PatientCertPassword" value="welcome" />
    <!--<add key="PatientCertPassword" value="welcome" />

    
    <add key="PatientCertPassword" value="welcome"/>
    <add key="HostName" value="gateway.push.apple.com"></add>
    --><add key="HostName" value="gateway.sandbox.push.apple.com" ></add>
    <!--<add key="IsAPNSandBox" value="false" />-->
    <add key="IsAPNSandBox" value="true"/>
    <add key="PortNo" value="2195"></add>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <!--Aspnet membership code start-->
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConStringCareGiverLite" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="CaregiverLite" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ConStringCareGiverLite" applicationName="CaregiverLite" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <!--Aspnet membership code end-->
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647777">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
         
        </binding>
        
      </webHttpBinding>
      
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="CaregiverLiteMobileServices.CareGiverLiteService">
        <endpoint address="" behaviorConfiguration="DefaultEndPointBehavior"
          binding="webHttpBinding" contract="CaregiverLiteMobileServices.ICaregiverLiteMobileServices" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndPointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="metadataAndDebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration> 
